name: Check PR title

on:
  pull_request:
   types: [opened, synchronize]

jobs:
  print_title_of_pr:
    runs-on: windows-latest

    steps:
    - name : Print Title of PR
      shell: powershell
      env:
        TITLE: ${{ github.event.pull_request.title }}
      run: |
        Write-Host "The Title of your PR is ${{ github.event.pull_request.title }}"